<form action="/form" method="post" target="hidden">

  <div>
    <label for="name">Name: </label>
    <input
      class="autoselect"
      type="text"
      name="name"
      id="name"
      value="John Doe"
    />
  </div>

  <div>
    <label for="message">Message: </label>
    <input
      class="autoselect"
      type="text"
      name="message"
      id="message"
      value="Hello world!"
    />
  </div>

  <div>
    <button type="submit">Send</button>
  </div>

</form>


<iframe name="hidden" style="display:none"></iframe>
